<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <WindowsFormsApplication1.Properties.Settings>
            <setting name="maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="width" serializeAs="String">
                <value>790</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>520</value>
            </setting>
            <setting name="loadLast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useCharacterSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="loadDruziny" serializeAs="String">
                <value />
            </setting>
            <setting name="loadPostavy" serializeAs="String">
                <value />
            </setting>
            <setting name="recentPostavy" serializeAs="String">
                <value />
            </setting>
            <setting name="recentDruziny" serializeAs="String">
                <value />
            </setting>
            <setting name="tabs" serializeAs="String">
                <value>1111111</value>
            </setting>
            <setting name="tabsOrder" serializeAs="String">
                <value>0123456</value>
            </setting>
            <setting name="assoc" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowsFormsApplication1.Properties.Settings>
    </userSettings>
</configuration>